.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0px;
  max-width: 800px;
  font-family: Inter;
  padding: 30px 20px;
}
@media screen and (min-width: 600px) {
  .container {
    margin: 50px auto 50px;
  }
}

.topBorder {
  border-top: 3px solid #fff;
  width: 100%;
  margin-bottom: 20px;
  /* transition: all 0.9s !important; */
}
@media screen and (min-width: 600px) {
  .border {
    margin-bottom: 40px;
  }
}

ul.socialLinks {
  display: flex;
  justify-content: space-around;
  width: 90%;
  transition: all 0.9s !important;
}

ul.socialLinks li {
  color: #32322eb7;
  transform: scale(1);
  transition: color 0.3s, transform 0.08s;
  font-size: 1.4rem;
}
@media screen and (min-width: 600px) {
  ul.socialLinks li {
    font-size: 1.65rem;
  }
}
ul.socialLinks li:hover {
  cursor: pointer;
  color: #1b85a088;
  transform: scale(1.35);
}
ul.socialLinks + div {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 70px auto 50px;
  color: #32322ed7;
  font-size: 1.1rem;
}
@media screen and (min-width: 600px) {
  ul.socialLinks + div {
    margin: 120px auto 80px;
    font-size: 1.25rem;
  }
}

ul.socialLinks + div + small {
  color: #32322ed7;
  margin: 35px auto;
}
@media screen and (min-width: 600px) {
  ul.socialLinks + p {
    margin: 70px auto;
  }
}

ul.socialLinks + div a:hover {
    transition: color 0.4s;
    color: #1b85a088;
  }
.bottomBorder {
  border-bottom: 3px solid #fff;
  width: 100%;
}

.backgroundImgWrapper {
  opacity: 0.7;
  z-index: -1;
  margin: 100px auto;
  width: 90%;
}
@media screen and (min-width: 600px) {
  .backgroundImgWrapper {
    max-width: 1000px;
    margin: 180px auto;
  }
}
