/* container of all header class element */
header.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 35px 0px;
  flex-wrap: wrap;
  letter-spacing: 0.5px;
  font-family: "Inter";
}
/* header log to the left */
div.headerlogo {
  flex: 0 1 20%;
  color: #46b1ccb2;
  font-weight: 800;
  font-size: 1.8rem;
  font-family: "Kanit";
}
div.headerlogo span {
  border-bottom: 3px solid #32322e13;
}
/* headerlinks to the right */
ul.headerlinks {
  display: flex;
  flex: 0 1 100%;
  max-width: 720px;
  justify-content: space-around;
  padding-left: 0px;
  /* width: 350px; */
  color: #32322eca;
  margin-top: 45px;
  font-size: 1.05rem;
}
@media screen and (min-width: 600px) {
  ul.headerlinks {
    flex: 0 1 50%;
    font-size: 1.2rem;
    margin-top: 10px;
  }
}
ul.headerlinks li {
  /* border-bottom: 3px solid transparent; */
  padding-bottom: 8px;
  transition: border-bottom 0.2s, color 0.3s;
  color: #32322ea8;
}

ul.headerlinks li:hover {
  color: #8a8a8281;
}

ul.headerlinks li.border {
  border: 1px solid #32322e13;
}
ul.headerlinks li.active {
  border-bottom: 3px solid #46b1ccb2 !important;
  margin-top: 5px;
}
ul.headerlinks li.underline {
  margin-top: 5px;
  border-bottom: 3px solid transparent !important; 
}
ul.headerlinks li:hover {
  border-bottom: 3px solid #fff !important;
}

