/* Flex Container
    
*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 98%;
  height: 60vh;
}
@media screen and (min-width: 600px) {
  .container {
    width: 85%;
    height: 70vh;
    margin: 0px auto;
  }
}
a.cardContainer {
  width: 100%
}
.card {
  /* Card Flex Container */
  display: flex;
  width: 100%;
  /* margin-bottom: 25px; */
  flex-wrap: wrap;
  flex-direction: column;
  /* width: 100%; */
  margin: 0 auto;
  max-width: 860px;
  padding: 25px 0px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}
@media screen and (min-width: 600px) {
  .card {flex-direction: row;}
}
.card:hover {
  border: 0.5px solid #32322e23;
  box-shadow: 0 0 8px #9b9b9328;
}
.cardDescription {
  /* 1 of 2 in card - flex container */
  flex: 1;

  text-align: center;
  line-height: 1.7;
  font-family: "Inter";
  letter-spacing: 0.3px;
}
@media screen and (min-width: 600px) {
  .cardDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* font-size: 1.2rem; */
  }
}
.cardDescription p { /* Both Title & Details( Tech Stack ) */
  margin: 8px 0;
  color: #32322ed7;
  font-weight: 300;
  font-size: 0.95rem;
}
@media screen and (min-width: 600px) {
  .cardDescription p  {font-size: 1.15rem;}
}
.cardDescription p span { /* Title */
  color: #40a1b9;
  font-weight: 300;
  font-size: 1.1rem;
}
@media screen and (min-width: 600px) {
  .cardDescription p span {font-size: 1.45rem;}
}
.cardDescription p span:hover {
  color: #ab9b93;
}
.card:hover .cardDescription p span {
  color: #378ea3;
  text-shadow: 0px 0px 20px #5d5d5d65;

}
.cardImg {
  /* 2 0f 2 in card - container - flex container */
  flex: 1;
  position: relative;
  text-align: center;
  /* margin-top: 10px; */
}
@media screen and (min-width: 600px) {
  .cardImg {flex: 0 1 40%;}
}

.card:hover .cardImg img {
  box-shadow: 0 0 20px #9b9b93;
  border-right: 5px solid #fff;
}
.cardImg img {
  width: 200px;
  border-right: 5px solid #40a1b9;
  transition: box-shadow 0.3s, border-right 0.3s;
}
.cardImg img:hover {
  box-shadow: 0 0 20px #9b9b93;
}
.cardBottomBorder {
  height: 1px;
  width: 200px;
  background-color: #fff;
  margin: 25px;
}
@media screen and (min-width: 960px) {
  .cardBottomBorder {width: 785px}
}
 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000050;
}